body {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  font-family: sans-serif;
  letter-spacing: 0em;
  text-align: left;
  /* color: #a5a5a5; */
  color: #4f4f4f;
}
h1 {
  font-size: 43px;
}
h3 {
  font-family: cursive;
  /* font-family: Pacifico, handwriting; */
  line-height: 1em;
  margin-top: 0.5em;
  font-size: 24px;
}
h3.merchan-title {
  width: 200px;
  /* padding: 10px; */
  font-size: 32px;
  margin: 0 0 40px 10px;
  text-align: left;
}
a {
  color: #fff;
  text-decoration: none;
}

.wrap {
  display: flex;
  flex-flow: row wrap;
}
div[class=^col-] {
  box-sizing: border-box;
  padding: 0 15px;
}
.col-1{ width: 8.333333% }
.col-2{ width: 16.666666% }
.col-3{ width: 25% }
.col-4{ width: 33.333333% }
.col-5{ width: 41.666666% }
.col-6{ width: 50% }
.col-7{ width: 58.333333% }
.col-8{ width: 66.666666% }
.col-9{ width: 75% }
.col-10{ width: 83.333333% }
.col-11{ width: 91.666666% }
.col-12{ width: 100% }

@media screen and (max-width: 767px) {
  .col-xs-1{ width: 8.333333% }
  .col-xs-2{ width: 16.666666% }
  .col-xs-3{ width: 25% }
  .col-xs-4{ width: 33.333333% }
  .col-xs-5{ width: 41.666666% }
  .col-xs-6{ width: 50% }
  .col-xs-7{ width: 58.333333% }
  .col-xs-8{ width: 66.666666% }
  .col-xs-9{ width: 75% }
  .col-xs-10{ width: 83.333333% }
  .col-xs-11{ width: 91.666666% }
  .col-xs-12{ width: 100% }
}

.main-color {
  color: #86ae34;
}

.sub-color {
  color: ;
}
.item-2-col {
  display: flex;
  justify-content: space-between;
}
.cart {
  width: calc(100% - 30px);
  color: #fff;
  background-color: #679509;
  padding: 0 15px;
  font-size: 14px;
  line-height: 3em;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
.promote {
  display: inline-block;
}
.cart-list {
  width: 400px;
  display: inline-block;
}
.cart-list li {
  padding: 4px 10px;
  display: inline-block;
  line-height: 1em;
}
.cart-list li + li {
  border-left: 1px solid #fff;
}
.menu-bar {
  padding: 5px 15px;
  align-content: center;
}
.logo img {
  display: inline-block;
  vertical-align: middle;
}
.menu {
  line-height: 60px;
  padding: 0 15px;
}
.menu li {
  padding-left: 15px;
  display: inline-block;
  align-items: center;
  line-height: 3em;
}
.menu a {
  color: #4f4f4f;
}
.head-bg {
/*   height: 60%;
  max-height: 800px; */
  background: url("assets/asset 36.jpeg") no-repeat;
  background-size: cover;
  /* background-position: center; */
  /* background-position: center 100%; */
  background-position: 100% center;
  background-repeat:no-repeat;
  height: 100%;
  min-height: 450px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row;

}
.head-bg:before {
  content: '';
  display: inline-block;
  width: 0;
  vertical-align: middle;
}

.head-bg .wraper {
  height: 300px;
  width: 600px;
  display: inline-block;
  vertical-align: middle;
  margin: auto 15px;
}
.wraper a {
  display: inline-block;
  background-color: #86ae34;
  font-size: 16px;
  padding: 12px;
  margin-top: 40px;
}
.fixed-container {
  width: calc(100% - 30px);
  padding: 15px;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}
.slogan {
  width: 1200px;
  font-size: 29px;
}
.item {
  width: 400px;
  padding: 15px;
  box-sizing: border-box;
}
.text-center {
  text-align: center;
  font-family: cursive;
  margin: 50px;
}
.article-part img {
  display: block;
  margin: auto;
}
.pd-content {
  text-align: justify;
}
.big-pic {
  /* justify-content: space-between; */
}
.big-pic img {
  display: block;
  width: 100%;
}